RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# don't rewrite apache server status URL.
RewriteCond %{REQUEST_URI} !=/server-status

# otherwise forward it to index.php
RewriteRule . index.php